.container {
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.label {
  color: rgb(0, 0, 0);
  padding-top: 5px;
  font-size: 14px;
  cursor: pointer;
}
.label:hover {
  color: rgb(0, 110, 255);
}
.CircularProgressbar-text {
  transform: translate(-15px, 5px);
}
